/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body, aside {
    background: #C0DFD9; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1.5px solid; /* can delete or change */
    background: #E9FFE5;
}

/* --- ADD YOUR STYLES BELOW --- */

header, footer {
    background: #E9ECE5;
}

figure {
    background: #C6D9C3;
}

/* --- add your PSEUDO CLASSES below this line --- */
a:link {
    color: #20378A;
}
a:visited {
    color: #064262;
}
a:focus {
    color: #0E4441;
}
a:hover {
    color: #142DA9;
}
a:active {
    color: #004461;
}
